*{  margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* share related style */
.btn-primary{
    background-color: #FF42A5;
    color: white;
    padding:20px 40px;
    border-radius:30px;
    border:none;
    font-size: 1.3rem;
    font-weight: 600;
    cursor:pointer;
}
.btn-secondary{
    background-color: #4EC5F7;
    color: white;
    padding:20px 40px;
    border-radius:30px;
    border:none;
    font-size: 1.3rem;
    font-weight: 600;
    cursor:pointer;
}
.text-primary-color{
    color:#FF42A5;
}
.primary-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
   -webkit-background-clip: text;
}
.section-title{
    font-size: 48px;
    font-weight: 700;
}
.section-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* nav related style */
nav{
    background-color: #fff;
}
.nav-container{
    max-width: 1400px;
    margin:45px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 
}
.logo-container{
    width:50%;
    display: flex;

}
.logo-container img{
       width:50px;
       object-fit:cover;
       margin-right:20px;
}
.logo-container h2{
    text-align: center;
    
    font-size: 45px;
  
    font-weight: 700;
    
}
.nav-items-container{
    width:50%;
    display: flex;
    justify-content:space-between;
    margin-right:32px;
    align-items: center;
}
.nav-items-container a{
       text-decoration: none;
       color: #3C354F;
text-align: center;

font-size: 18px;

font-weight: 500;
}
.nav-items-container .followus-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding:20px 30px;
    
    text-align: center;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
.nav-items-container .followus-btn .youtube{
      color:red;
}

/* banner related style */
.banner{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner-container{
    max-width:1400px;
    margin:0 auto;
    display: flex;
    align-items: center;
  
}
.banner-content{
    width:50%;
    margin:0 auto;
    margin-top:40px;
    background-image: url('../images/Group\ 14.png'),linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-blend-mode: overlay;
    background-size: cover; 
    
}
.banner-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 95px;
    font-weight: 800;
   text-transform: uppercase;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
   -webkit-background-clip: text;
}
.banner-content p{
     color:#534C64;
     font-size: 20px;
     font-weight: 500;
    margin-bottom: 10px;
}
.banner-content p i{
    color:#F948B2;
}
.banner-content .banner-button{
        margin-right:20px;
}

.banner-img{
    width:50%;
}
.banner-img img{
    width: 100%;
   
}
/* we are gamer section related style */
.we-are-gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-gamer .we-are-gamer-container{
    max-width:1400px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px 0;
    
}
.we-are-gamer-container .we-are-gamer-img{
    width: 50%;
}
.we-are-gamer-container .we-are-gamer-img  img{
    width: 100%;
}
.we-are-gamer-container .we-are-gamer-content{
    width: 50%;
    text-align: right;
    margin-left: 250px;
               
}
.we-are-gamer-content > h3{
    margin-bottom: 20px;
}
.we-are-gamer-content > button{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
}
p .unleash-the-gamer-in-everyone{
    color: #0B0223;
    font-size: 30px;
    font-weight: bold;
}
/* games related style */
.games{
    padding:120px 0;
}
.games .games-title{
    text-align: center;
    margin-bottom: 1rem;
}
.games .games-description{
    text-align: center;
}
.games-container{
    max-width: 1400px;
    margin:40px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
}
.games-container .single-card{
   
}
.single-card img{
    width:100%;
    border:none;
}
.single-card p{
    width:100%;
    margin-top: 10px;
}


.card{
    position:relative;
    display: inline-block;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #FF42A5;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-card:hover .overlay{
    opacity:1;
}



/* play instantly style */
.play-instantly-container{
    max-width: 1400px;
    margin:120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instantly-container .play-instantly-content{
    /* width: 50%; */
      max-width:400px;
      margin:auto;
      
}
.play-instantly-content .play-instantly-title{
    margin-bottom: 20px;
}
.play-instantly-content .play-instantly-description{
    line-height: 35px;
}
.play-instantly-container .play-instantly-img{
    width: 50%;
   
}
.play-instantly-img #top-img{
    width: 80%;
    margin-left:130px;
}
.play-instantly-img #bottom-img{
   
    position: relative;
    margin-top: -200px;
    margin-right:-260px;
}
/* button related style */
.button{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding:118px 0px;
    margin-bottom: 0px;
}
.button-container{
  display: flex;
 
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  max-width: 1400px;
  margin:auto;

}
.single-button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:5px 10px;
    gap:4px;
    background-color: #fff;
     transition: .5s;
    cursor: pointer;
   
}
.single-button > img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
.single-button > h4{
    font-size: 19px;
    font-weight: 600;

}
.button-container .single-button:hover{
    border:1px solid #FF42A5;
    border-radius: 29px;
    color:#FF42A5;
}
/* footer section */
footer{
    background: #0B0223;
     text-align: center;
     padding: 120px 0px;
     margin-top: 0px;
}
footer .logo{
    width:100%;
    display: flex;
    justify-content: center;
    color:white;
    margin-bottom:20px;
}
footer .menu{
  display: flex;
  justify-content: center;
  gap:60px;
  color:white;
  margin-bottom:20px;

}
footer .menu li{
    list-style: none;
}
footer .social-link{
    display:flex;
    justify-content: center;
    gap:60px;
    color:;
    margin-bottom:20px;
    
    

}
footer .text{
    display: flex;
  justify-content: center;
  gap:60px;
  color: rgba(255, 255, 255, 0.60);
  margin-bottom:20px;

}
footer > p{
    color: rgba(255, 255, 255, 0.60);
}
.link-color{
      color:white
}
/* Responsive media query */
/* mobile devices */

@media screen and (max-width:576px) {
    .nav-container,
    .nav-items-container,
    .play-instantly-container,
    .we-are-gamer .we-are-gamer-container
    {
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top:20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-img
    {
        width: 90%;
    }
    .banner-content{
        padding:70px 10px 100px;
    }


    .we-are-gamer-container .we-are-gamer-img{
        width: 100%;
    }
    .we-are-gamer-container .we-are-gamer-content{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding:70px 20px; 
    }
    p .unleash-the-gamer-in-everyone{
               font-size: 20px;
    }
    

    .games-container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
      
    }
    .games .games-title{
        font-size:20px ;
    }
    .games .games-description{
        font-size: 15px;
    }
    .single-card img{
        margin-top: 20px;
    }
    .play-instantly-container{
        padding:10px;
        text-align: center;
    }
    .play-instantly-container .play-instantly-img{
        width: 100%;
        margin-top:70px;
    }
    .play-instantly-img #top-img{
        width:70%;
        height: 100%;
        margin-left:120px;
    }
    .play-instantly-img #bottom-img{
        width:50%;
       margin-top: -120px;
       margin-right:200px
    }
    .single-button > img{
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
    .single-button > h4{
        font-size: 10px;
        font-weight: 600;
    
    }
     footer{
        width:100%;
        margin:auto;
        padding:40px 50px;
     }
    footer .menu{
        grid-column-gap:5px;
        grid-row-gap:10px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    footer .social-link{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:5px;
        grid-row-gap:10px;
        margin-bottom: 50px;
    }
    footer .text{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:5px;
        grid-row-gap:10px;
        margin-bottom: 50px;

    }
}
   
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container,
    .play-instantly-container,
    .we-are-gamer .we-are-gamer-container
    {
        flex-direction: column;
    }

    .logo-container{
        width: 20%;
        text-align: center;
    }
    .nav-items-container{
        margin-top: 30px;
        width: 80%;
    }

    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-container{
        padding:50px  10px;
    }
    .banner-img
    {
        width:100%;
    }
    .banner-content{
        width:100%;
        padding:50px 0;
        padding:180px;
       
    }


    .we-are-gamer-container .we-are-gamer-img{
        width: 100%;
    }
    .we-are-gamer-container .we-are-gamer-content{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding:70px 20px; 
    }
   

    .games-container{
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
      
    }
    .play-instantly-container{
        padding:10px;
        text-align: center;
    }
    .play-instantly-container .play-instantly-img{
        width: 100%;
        margin-top:70px;
    }
    .play-instantly-img #top-img{
        width:70%;
        height: 100%;
        margin-left:140px;
    }
    .play-instantly-img #bottom-img{
        width:50%;
       margin-top: -200px;
       margin-right:350px
    }
    .button-container{
        padding:0px;
    }



    .single-button > img{
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
    .single-button > h4{
        font-size: 10px;
        font-weight: 600;
    
    }
}